@model Cadastro.Models.CustomersViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Excluir</h2>

<h3>Você tem certeza que deseja excluir?</h3>
<div>
    
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4></h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customer_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contact_person)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact_person)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postal_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postal_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.physical_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.physical_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contact_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact_number)
        </dd>

    </dl>


    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default"/> |
        @Html.ActionLink("Página Inicial", "Index")
    </div>
    }
</div>
